.market-search {
    display: flex;
    flex-direction: column;
    /* 세로 정렬 */
    justify-content: flex-start;
    /* 상단 정렬 */
    align-items: center;
    /* 수평 중앙 정렬 */
    text-align: center;
    /* 텍스트 중앙 정렬 */
    gap: 2rem;
    /* 요소 간 간격 */
}