.my-information-three-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 94.5%;
}

.my-information-info,
.my-information-post,
.my-information-photo {
    font-size: 30px;
    width: 144px;
    height: 77px;
    margin-left: 30px;
    margin-top: 15px;
    border-style: none;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.my-information-push {
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;
}

.my-information-button {
    background-color: transparent   ;
    font-size: 15px;
    border-style: none;
}

.my-information-box-information {
    background-color: #D9D9D9;
    width: 660px;
    height: 590px;
    margin: 0px 9px 9px 30px;
    display: flex;
    flex-direction: column;
    border-end-start-radius: 13px;
    border-end-end-radius: 13px;
}

.information-right-back {
    width: 38vw;
    max-height: 37.4vw;
    height: 36.4vw;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: 2px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
}