.calendar-detail-cell {
    display: flex;
    flex-direction: column;
    padding: 0 1vw;
}

.calendar-detail-header {
    display: flex;
    flex-direction: row;
}

/* 각 항목의 스타일 */
.calendar-detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 수직 가운데 정렬 */
    padding: 1vw;
    margin-bottom: 1vw;
    border-radius: 0.7vw;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #e0f7fa;
}

/* 이미지 스타일 */
.calendar-detail-item img.entry-thumbnail {
    width: 30%;
    height: 30%;
    margin-right: 1vw;
    border-radius: 1vw;
}

/* 텍스트 영역 스타일 */
.calendar-detail-item .calendar-detail-text {
    flex: 1;
}

.calendar-detail-item p {
    margin: 0.5vw 0;
    font-size: 1rem;
    color: #333;
}

/* 제목 스타일 */
.calendar-detail-cell h3 {
    font-size: 1.5rem;
    margin-bottom: 1vw;
    font-weight: bold;
}