/* 테이블 컨테이너 */
.added-workout-details {
    color: #4D4D4D;
    padding: 1vw;
    overflow-y: auto;
    border-radius: 1vw;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    background-color: rgb(224, 222, 222);
    min-height: 7vw;
    max-height: 5vw;
}

/* 테이블 */
.workout-details-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

/* 테이블 헤더 */
.workout-details-table th {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.5vw;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

/* 테이블 행 */
.workout-details-table td {
    padding: 0.8vw 0.2vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* 스크롤바 */
.added-workout-details::-webkit-scrollbar {
    width: 8px;
}

.added-workout-details::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

.added-workout-details::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

.added-workout-details::-webkit-scrollbar-thumb:hover {
    background: #f5f5f5;
}

/* 항목이 없을 때 메시지 */
.workout-detail-empty {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
    padding: 1vw;
}