.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3개의 열 */
    gap: 16px;
    /* 각 셀 간격 */
    padding: 20px 12VW;
}

.community-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}