.seen-feed-photo-post-grid {
    gap: 0;
    padding: 0 0 0 0.1%;
}

.seen-feed-photo-item {
    background-color: #827e7ed6;
    width: 95%;
    height: 98%;
    display: flex;
    flex-direction: column;
    margin: 7% 0 0 5px;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.seen-feed-grid-image {
    width: 90%;
    height: 100%;
    margin: 4px auto;
    object-fit: cover;
}