.seen-feed-post-grid {
    display: grid;
    width: 95%;
    height: 540px;
    gap: 16px;
    margin: auto;
}

.seen-feed-post-grid-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.seen-feed-post-grid-header {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    flex-direction: row;
    padding: 4px;
}

.seen-feed-post-grid-entry-thumbnail {
    width: 35%;
    height: 160px;
    border-radius: 8px;
}

.seen-feed-post-grid-text {
    margin-top: 4px;
}

.seen-feed-post-grid-text p {
    margin: 0.5vw 0;
    font-size: 0.9rem;
    color: #333;
}

.community-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}