.food-searchbar-wrapper {
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 0.7vw 0;
}

.food-searchbar {
    background-color: transparent;
    width: 25vw;
    height: 2vw;
    border-radius: 1vw;
    border: transparent;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

}

.food-searchbar:focus {
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: 2px;
}