.food-searchbar-wrapper {
    align-content: center;
    justify-content: center;
    text-align: center;
}

.food-searchbar {
    background-color: transparent;
    width: 35vw;
    height: 5vh;
    border: transparent;
    box-shadow: 0px 2px 0px rgb(0, 0, 0);
    font-size: 16px;
    color: #888787;
}

.food-searchbar:focus {
    outline: 0px solid rgba(0, 0, 0, 1);
    outline-offset: 2px;
}