.food-list-header {
    display: flex;
    padding: 1vw 2vw;
    font-weight: 1000;
}

.food-list-main {
    /* padding: 1vw 2vw; */
    font-size: 2vw;
    font-weight: 1000;
}

.food-list-update {
    margin-left: 14.5vw;
    margin-top: 2vw;
    cursor: pointer;
    border: none;
    color: #00d6ee;
}

.food-list-eat-today {
    padding: 1vw 2vw;
    font-size: 1vw;
}

.food-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.food-item input[type="checkbox"] {
    margin-right: 10px;
}

.delete-button {
    background-color: #ff4d4f;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
}

.delete-button:hover {
    background-color: #ff7875;
}