.input-row {
    display: flex;
    gap: 0.5vw;
    /* 입력 필드 간격 */
    padding: 0 1vw;
    /* 좌우 여백 */
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    /* 헤더의 두 요소를 양쪽으로 배치 */
    align-items: center;
    padding: 1vw 1vw;
    /* 좌우 여백 추가 */
}

/* 버튼 스타일 */
.calendar-header button {
    padding: 5px 15px;
    background-color: transparent;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    cursor: pointer;
}

/* 일지작성 디테일 */
.calendar-write-detail {
    margin-bottom: 5px;
}

/* 제목 */
.calendar-title-input {
    padding: 0 1vw;
    /* margin-bottom: 0.5vw; */
}

.calendar-title-input label {
    display: block;
    background-color: #f0f0f0;
    padding: 0 1vw;
    border-radius: 0.7vw;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0.2vw;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.calendar-title-input textarea {
    padding: 10px;
    font-size: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 0.7vw;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    height: 2vw;
    /* 텍스트 입력 필드 높이 설정 */
}

/* 추가버튼 */
.calendar-write-add {
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.7vw;
    resize: none;
    /* 크기 조정 비활성화 */
    height: 2vw;
    width: 100%;
    /* 고정 크기 설정 */
    box-sizing: border-box;
    /* 패딩 포함한 너비 계산 */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5vw;
}

/* 추가하기, 일지목록 */
.calendar-write-add-detail {
    padding: 0 1vw;
}

/* 일지 입력 섹션 스타일 */
.diary-input-section {
    position: relative;
    padding: 0.5vw 0;
}

.diary-input-section textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.7vw;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    height: 8vw;
}

/*제출 버튼*/
.calendar-write-submit {
    background-color: transparent;
    font-size: 1.2rem;
    color: #4D4D4D;
    border-radius: 1vw;
    border: transparent;
    box-sizing: border-box;
    height: 2vw;
    width: 100%;
}

.calendar-header h2 {
    margin: 1vw;
    /* 제목(날짜) 기본 여백 제거 */
    text-align: center;
    flex: 1;
    /* 가운데 정렬 유지 */
}

.calendar-write-cancel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    color: #d9534f;
    font-weight: bold;
    margin-right: auto;
    /* 왼쪽 정렬 */
}

.calendar-write-cancel-button:hover {
    color: #b64642;
}