.seen-profile-left-back {
    width: 38vw;
    width: 38vw;
    max-height: 37.4vw;
    /* 최대 높이 설정 */
    height: 36.4vw;
    /* 고정된 높이 */
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: 2px;
}

.seen-profile-image {
    border: thin solid rgb(153, 151, 151);
    background-color: #ffffff;
    width: 380px;
    height: 380px;
    margin: auto;
    border-radius: 50%;
    text-align: center;
}

.seen-profile-nickname {
    width: 181px;
    height: 25px;
    margin: 22px auto;
    font-size: 32px;
    text-align: center;
}

.seen-profile-small-box {
    height: 3%;
    font-size: 15px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 3px;
    flex-direction: row;
    justify-content: center;
}

.seen-profile-message-textarea {
    background-color: #ECECEC; 
    display: inline-block;
    font-size: 25px;
    width: 521px;   
    height: 43px;
    margin-top: 36px;
    margin: auto;
    border: none;
    resize: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.seen-profile-edit-image {
    border: thin solid  rgb(153, 151, 151);
    background-color: #ffffff;
    width: 380px;
    height: 380px;
    margin: auto;
    margin-top: 51px;
    border-radius: 50%;
    text-align: center;
}

.seen-profile-edit {
    background-color: #D9D9D9;
    text-decoration-line: none;
    font-size: 24px;
    width: 383px;
    height: 45px;
    margin-top: 22px;
    margin: auto;
    border-radius: 13px;
    border-style: none;
    text-align: center;
}

.seen-profile-button {
    background-color: #D9D9D9;
    text-decoration-line: none;
    width: 600px;
    height: 45px;
    font-size: 24px;
    margin-bottom: 41px;
    margin: auto;
    text-align: center;
    border-radius: 13px;
    border-style: none;
    text-align: center;
}
