.calendar-detail-update-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.calendar-write-update,
.calendar-write-delete {
    background-color: transparent;
    font-size: 1.2rem;
    color: #4D4D4D;
    border-radius: 1vw;
    border: transparent;
    box-sizing: border-box;
    height: 2vw;
    width: 50vw;
}

.divider {
    width: 1px;
    /* 구분선의 두께 */
    height: 2vw;
    /* 버튼과 같은 높이로 설정 */
    background-color: #ccc;
    /* 선의 색상 */
}

.update-image-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw 0;
}

.update-entry-thumbnail {
    width: 25vw;
    /* 원하는 너비로 설정 */
    height: auto;
    /* 비율 유지 */
    border-radius: 0.5vw;
    /* 모서리를 약간 둥글게 */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    /* 약간의 그림자 */
    margin-bottom: 0.5vw;
    /* 삭제 버튼과 간격 */
}

.update-remove-button {
    background-color: #ff6961;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 0.5vw;
    padding: 0.5vw 1vw;
    cursor: pointer;
    transition: background-color 0.2s ease;
}