/* 배경 스타일 */
.seen-feed-right-back {
    width: 38vw;
    max-height: 37.4vw;
    height: 36.4vw;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: 2px;
}

.seen-feed-trainer-box {
    background-color: #D9D9D9;
    width: 95%;
    height: 96%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    margin-top: 1.5%;
    margin-left: 2.5%;
}

.seen-feed-photo,
.seen-feed-banner {
    background-color: #A9A9A9;
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 4.2vh;
    font-size: calc(16px + 0.5vw);
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    margin: 1.5% auto;
    border-radius: 12px;
}

.seen-feed-textarea {
    background-color: #A9A9A9;
    display: flex;
    flex-direction: column;
    width: 94%;
    height: 13vh;
    font-size: calc(12px + 0.3vw);
    margin: 0 auto;
    border-radius: 12px;
    border-style: none;
}