#find-id-result-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-id-result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding-bottom: 25vw;
}

.find-id-result-text {
    margin: 0;
    font-size: 36px;
    text-align: center;
    color: #505050;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.find-id-result-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    width: 160px;
    color: #858585;
    background-color: #d9d9d9;
    border: none;
    border-radius: 5px;
}