/* 검색창과 게시글 목록 컨테이너 */
.community-search-posts-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    /* 왼쪽 정렬 */
    align-items: flex-start;
    /* 세로로 왼쪽 정렬 */
    margin-top: 20px;
    /* 테이블과의 간격을 두기 위한 여백 */
}

/* 검색창과 게시글 목록을 나누는 영역 */
.community-content-container {
    display: flex;
    justify-content: center;
}

/* 페이지 네비게이션을 테이블 밑으로 이동하여 중앙 배치 */
.community-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
}

.community-pagination button {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
}

.community-pagination span {
    font-size: 16px;
    margin: 0 10px;
}