.mainBox2{
    max-height: 1,989px;
    max-width: 1285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
    margin-left: 315px;
    text-align:center;
}