.writebottonbox{
    background-color: #ffffff;
    width: 77.3vw;
    height: 55.0vh;
    /*width: 1486PX;
    height: 594px;*/
    margin-top: 48px;
    margin-left: 143px;
    border-color: black;
    border-radius: 13px;
} 