#sign-up-wrapper {
    padding: 4%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
 } 
/* 회원가입 타이틀*/
.signup_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #000000;
}

.underline {
    width:31%;

    height: 1px;
    margin-bottom: 10px;
    border-top: 5px solid (#9C9C9C);
    background-color: #9C9C9C;
}

.sign_up_button {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    width: 545px;
    height: 47px;
    color: #858585;
    background-color: #d9d9d9;
    border: none;
    border-radius: 5px;
}

