.input-profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* 입력창이 일정 위치를 유지 */
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.input-profile-title {
    margin: 5px;
    height: 35px;
    font-size: 20px;
    border-style: double;
    width: 30%;
    /* 제목의 고정된 너비 */
    text-align: center;
    align-content: center;
    /* 텍스트 정렬 */
}

.input-box-wrapper {
    flex-grow: 1;
    /* 입력창의 부모가 남은 공간을 채움 */
    width: 65%;
    max-width: 400px;
    /* 입력창 길이를 제한 */
}

.input-profile-box {
    background: none;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    width: 100%;
    /* 부모 요소의 너비를 채움 */
    font-size: 17px;
    text-align: center;
    padding: 5px;
}

.input-profile-box:focus {
    border-bottom: 2px solid #007BFF;
    transition: border-color 0.3s ease;
}